body{
    margin: 0%;
    font-family: arial, sans-serif;
    background-color: #f4f4f4
}
header{
    background-color: #141414;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav{
    display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1200px;
   margin: 0% auto;
   padding: 0% 20px;
}
.nav-link{
    list-style: none;
    display: flex
}
.nav-link li{
    margin left: 20px;
}
.nav-link a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 30px;
    
}
.nav-link a:hover{
    color: #ff6347;
    background-color: #fff;
    padding: 5px 10px
    border-radius: 50px;
    border bottom: 2px solid #ff6347;
}
.hero{
    background: rgb(5, 25, 48);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}
.hero-content{
    max-width: 600px;
}
.hero h1{
    font-size: 4rem;
    margin-bottom: 20px;
}
.hero p{
    font-size: 1.5rem;
    margin-bottom: 40px;
}
.btn{
    background-color: #ff6347;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
}
.about, .service, .footer{
    padding: 60px 20px;
    text-align: center;
}
.about h2, .service h2{
    margin-bottom: 20px;
   font-size: 2.5rem;
}

.service-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service{
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0 0 );
    flex: 1 1 300px;
}
.service h3{
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.footer{
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}
.footer p{
    margin: 0%;
}

